@{
    ViewBag.Title = "Pricing";
}
@Styles.Render("~/Content/site/siteStyles.css")

<!-- Page Content -->
<div class="container">
    <!-- Introduction Row -->
    <h1 class="my-4">
        Academy
        <small>Inscripciones</small>
    </h1>
    <p>Academy se dedica a realizar cursos de calidad para empresas, gobierno y publico en general para dar educación, trabajo e inclusión a la sociedad</p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-12">
            <div class="card h-100">
                <h3 class="card-header">Lista de Cursos</h3>
                <div class="card-body">
                    <div class="display-4">2500 ARS - Precio general por Curso</div>
                    <div class="font-italic">por mes</div>
                </div>
                <form action="@Url.Action("AddInscription", "User")" method="post">
                    <ul class="list-group list-group-flush">
                        @foreach (var course in ViewBag.Courses)
                        {
                            <li class="list-group-item"><input type="radio" name="idCourse" value="@course.ID">@course.DescriptionCourse</li>
                        }
                    </ul>
                    <input type="submit" value="Inscribirme!">
                    <input type='hidden' name='idUser' value='@ViewBag.UserID' />
                </form>
               
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>